<div class="container-fluid">
  <!-- Always visible navigation -->
  <navigation></navigation>

  <!-- Google AdSense for xs screen -->
  <div class="row visible-xs-block">
    <div class="col-lg-12">
      <h1 class="text-center text-info">Alfa</h1>
    </div>
  </div>

  <div class="row">
    <!-- Google AdSense for screen larger than xs -->
    <div class="hidden-xs col-sm-3 col-md-2">
      <h1 class="text-center text-info">Alfa</h1>
    </div>

    <!-- Content -->
    <div class="col-sm-6 col-md-8">
      <!-- Angular2 Router Outlet -->
      <router-outlet></router-outlet>
    </div>

    <!-- Google AdSense for screen larger than xs -->
    <div class="hidden-xs col-sm-3 col-md-2">
      <h1 class="text-center text-info">Alfa</h1>
    </div>
  </div>
</div>
