<ion-menu [content]="content">

  <ion-header>
    <ion-grid>
      <ion-row>
        <ion-col col-12><blaze-login-buttons></blaze-login-buttons></ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
