<!--
TODO Move form and map to separate components
-->
<div class="row">
  <div class="col-md-6">
    <form ng-submit="$ctrl.search()">
      <div class="form-group">
        <label for="address" class="sr-only">Address</label>
        <input ng-model="$ctrl.search.address" type="text" class="form-control" id="address" placeholder="Address" autocomplete="off">
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="city" class="sr-only">City</label>
            <input type="text" class="form-control" id="city" name='sublocality' placeholder="City" autocomplete="off">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="state" class="sr-only">State</label>
            <input type="text" class="form-control" id="state" name="administrative_area_level_1_short" placeholder="State" autocomplete="off">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="postal_code" class="sr-only">Postal code</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="ZIP" autocomplete="off">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-block">Search</button>
    </form>
  </div>
  <div class="col-md-6">
    <div id="info">
      <ul class="list-group">
        <strong id="formatted_addres">{{$ctrl.search.formatted_address}}</strong>
        <li class="list-group-item" ng-repeat="info in $ctrl.infos">
          <div>
            <div ng-if="info.isTemporary" class="alert alert-warning">This is temmporary condition</div>
            <p>
              <a ui-sref="infoForm({ infoId: info._id })" ng-if="info.place_id" class="btn btn-block btn-warning">Edit Info</a>
              <strong>Service entrance</strong>
              <span ng-if="info.location">{{info.location}};</span>
              <span>{{info.type}};</span>
              <span ng-if="info.long_push">long push <span class="badge">{{info.long_push}}</span> ft;</span>
              <span ng-if="info.check_in">Check in at {{info.check_in}};</span>
            </p>
            <p ng-if="info.elevator">
              <strong>Elevator</strong>
              <span ng-if="info.elevator.isDedicated"><span class="badge">dedicated;</span></span>
              <span ng-if="!info.elevator.isDedicated"><span class="bg-warning" >shared;</span></span>
              <span ng-if="info.elevator.size">fits <span class="badge">{{info.elevator.size}}</span> dollies;</span>
              <span ng-if="info.elevator.hasOperator">assigned opperator;</span>
              <span ng-if="!info.elevator.hasOperator">self service;</span>
            </p>
            <p ng-if="info.restriction">
              <strong>Restriction</strong>
              <span ng-if="info.restriction">
                {{info.restriction.from.day}} {{info.restriction.from.time}} - {{info.restriction.to.day}} {{info.restriction.to.time}}
              </span>
            </p>
            <p ng-if="info.parking" id="parking">
              <strong>Parking: </strong>
              <span ng-if="info.parking.type">{{info.parking.type}} parking;</span>
              <span ng-if="info.parking.restriction">{{info.parking.restriction}}</span>
            </p>
            <span ng-if="info.note">Note: {{info.note}}</span>
          </div>
        </li>
        <a ui-sref="infoForm({ placeId: $ctrl.search.place_id })" ng-if="$ctrl.search.place_id" class="btn btn-block btn-primary">Add Info</a>
      </ul>
    </div>
  </div>
</div>
<!-- TODO Hide map component when there is nothing to show -->
<div class="row">
  <div  class="col-lg-12">
    <div class="google-map-container" id="map"></div>
  </div>
</div>
