<!--
TODO Move form and map to separate components
-->
<div class="row">
  <div class="col-md-6">
    <form ng-submit="$ctrl.search()">
      <div class="form-group">
        <label for="address" class="sr-only">Address</label>
        <input type="text" class="form-control" id="address" name='name' placeholder="Address" autocomplete="off">
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="city" class="sr-only">City</label>
            <input type="text" class="form-control" id="city" name='sublocality' placeholder="City" autocomplete="off">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="state" class="sr-only">State</label>
            <input type="text" class="form-control" id="state" name="administrative_area_level_1_short" placeholder="State" autocomplete="off">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="postal_code" class="sr-only">Postal code</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="ZIP" autocomplete="off">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-block">Search</button>
    </form>
  </div>
  <div class="col-md-6">
    <div id="info">
      <ul>
        <li  ng-repeat="info in $ctrl.infos">
          <div>
            <h5>{{$index}} {{info.place_id}} is temmporary: {{info.isTemporary}} approved by {{info.approvedBy}} contributors</h5>
            <p>Service entrance location: {{info.location}}</p>
            <p>Type: {{info.type}}</p>
            <p>Check in: {{info.check_in}}</p>
            <p>Long push: {{info.long_push}} ft</p>
            <p>Elevator size: {{info.elevator.size}} dollies</p>
            <p>Elevator is dedicated: {{info.elevator.isDedicated}}</p>
            <p>Elevator has operator: {{info.elevator.hasOperator}}</p>
            <p>Restriction: {{info.restriction.from.day}} {{info.restriction.from.time}} - {{info.restriction.to.day}} {{info.restriction.to.time}}</p>
            <p>Parking type: {{info.parking.type}}</p>
            <p>Parking restriction: {{info.parking.restriction}}</p>
            <p>{{info.note}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- TODO Hide map component when there is nothing to show -->
<div class="row">
  <div  class="col-lg-12">
    <p>{{$ctrl.place.formatted_address}}</p>
    <div class="google-map-container" id="map"></div>
  </div>
</div>
