<ion-item-divider>
  <ion-label><ion-icon name="arrow-up"></ion-icon> Elevator</ion-label>
  <ion-toggle name="has_elevator" [(ngModel)]=se.has_elevator (ngModelChange)="toggleElevator($event)"></ion-toggle>
</ion-item-divider>

<ion-item *ngIf="se.elevator">
  <ion-label>Dedicated</ion-label>
  <ion-toggle name="is_dedicated" [(ngModel)]="se.elevator.is_dedicated"></ion-toggle>
</ion-item>

<ion-item *ngIf="se.elevator">
  <ion-label>Self Operated</ion-label>
  <ion-toggle name="is_self_operated" [(ngModel)]="se.elevator.is_self_operated"></ion-toggle>
</ion-item>

<ion-item *ngIf="se.elevator">
  <ion-range min="0" max="10" step="1" snaps="true"[(ngModel)]="se.elevator.size" color="secondary">
    <ion-label range-left>Fits</ion-label>
    <ion-label range-right>{{se.elevator.size}} dollies</ion-label>
  </ion-range>
</ion-item>
