<div class=row>
  <div class="col-xs-12">
    <div *ngIf="serviceEntrance.location" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Drag the mover to the service entrance!
    </div>
    <div *ngIf="!serviceEntrance.location" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Tap on the map where the service entrance is.
    </div>

    <!-- coi_is_required -->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="coi_is_required" [(ngModel)]="serviceEntrance.coi_is_required">
        COI is required
      </label>
    </div>

    <!-- check_in -->
    <div class="form-group">
      <label for="check_in" class="control-label">Check In</label>
      <input type="text" class="form-control" name="check_in" placeholder="i.e. at front desk" [(ngModel)]=serviceEntrance.check_in></textarea>
    </div>

    <!-- type -->
    <div class="form-group">
      <label for="type" class="control-label">Type</label>
      <input type="text" class="form-control" name="type" placeholder="i.e. stairs to the basement" [(ngModel)]=serviceEntrance.type></textarea>
    </div>

    <!-- long_push -->
    <div class="form-group">
      <label for="long_push" class="control-label">Long push in ft</label>
      <input type="number" class="form-control" name="long_push" min="0" placeholder="i.e 150" [(ngModel)]=serviceEntrance.long_push></textarea>
    </div>

    <!-- note -->
    {{serviceEntrance.note}}
    <div class="form-group">
      <label for="note" class="control-label">Note</label>
      <textarea class="form-control" name="note" rows="3" [(ngModel)]=serviceEntrance.note></textarea>
    </div>
  </div>
</div>
