<ion-grid *ngIf="se">
  <ion-row>
    <ion-col *ngIf="!se">
      There is no information for this place, yet. Be first to add some.
      <strong>Contibutions are priceless!</strong>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <span *ngIf="se.coi.is_required"><strong>COI</strong> is required;</span>
    </ion-col>
  </ion-row>

  <!-- Access -->
  <ion-row>
    <ion-col *ngIf="se">
      <strong>Access includes</strong>
      <span *ngIf="se.location && se.location.description">{{se.location.description}};</span>
      <span *ngIf="se.access.check_in">Check in at <strong>{{se.access.check_in}}</strong>;</span>
      <span *ngIf="se.access.level">Access at level <strong>{{se.access.level}}</strong>;</span>
      <span *ngIf="se.access.has_loading_dock">Loading dock;</span>
      <span *ngIf="se.access.has_stairs">Stairs;</span>
      <span *ngIf="se.access.has_ramp">Ramp;</span>
      <span *ngIf="se.access.has_elevator">Elevator;</span>
      <span *ngIf="se.access.is_outside">Outside;</span>
      <span *ngIf="se.access.long_push">long push <ion-badge>{{se.access.long_push}}</ion-badge> ft;</span>
      <span *ngIf="se.access.note">Note: {{se.access.note}};</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="se.elevator.is_available">
      <strong>Elevator</strong>
      <span *ngIf="se.elevator.is_dedicated"><span class="badge">dedicated;</span></span>
      <span *ngIf="!se.elevator.is_dedicated"><span class="bg-warning" >shared;</span></span>
      <span *ngIf="se.elevator.size">fits <span class="badge">{{se.elevator.size}}</span> dollies;</span>
      <span *ngIf="!se.elevator.is_self_operated">assigned opperator;</span>
      <span *ngIf="se.elevator.is_self_operated">self service;</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="se.restriction">
      <strong>Restriction</strong>
      <ion-badge color="dark" *ngIf="se.restriction.days.mon">M</ion-badge>
      <ion-badge color="dark" *ngIf="se.restriction.days.tue">T</ion-badge>
      <ion-badge color="dark" *ngIf="se.restriction.days.wed">W</ion-badge>
      <ion-badge color="dark" *ngIf="se.restriction.days.thu">T</ion-badge>
      <ion-badge color="dark" *ngIf="se.restriction.days.fri">F</ion-badge>
      <ion-badge color="default" *ngIf="se.restriction.days.sat">S</ion-badge>
      <ion-badge color="danger" *ngIf="se.restriction.days.sun">S</ion-badge>
      <div *ngIf="se.restriction">
        {{se.restriction.times.from}} - {{se.restriction.times.to}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="se.parking">
      <strong>Parking: </strong>
      <span *ngIf="se.parking.type">{{se.parking.type}} parking;</span>
      <span *ngIf="se.parking.restriction">{{se.parking.restriction}}</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="se.note">
      <span>Note: {{se.note}}</span>
    </ion-col>
  </ion-row>
</ion-grid>
