<navigation>Navigation</navigation>

<div class="container-fluid">
  <div class="row visible-xs-block">
    <div class="col-lg-12">
      <p>Google add</p>
      <img class="img-responsive" src="http://placehold.it/600x100">
    </div>
  </div>
  <div class="row">
    <div class="hidden-xs col-sm-3 col-md-2">
        Google add
        <img class="img-responsive" src="http://placehold.it/600x300">
    </div>
    <div class="col-sm-6 col-md-8">
      <div ui-view="" ></div>
    </div>
    <div class="hidden-xs col-sm-3 col-md-2">
        Google add
        <img class="img-responsive" src="http://placehold.it/600x300">
    </div>
  </div>
</div>